<h1><%= @list.name %></h1>
  <p>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
   <li>
   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : "" %>)">
    <%= bookmark.movie.title %>
   </div>
   </li>
    <% end %>
  </ul>
  </p>
<%= link_to "my lists", lists_path %>
<%= link_to "add a movie",  new_list_bookmark_path(@list) %>
